<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570767167407-ssn7smpjn24ag0rk8cmtedjepupt1tuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570767167407-ssn7smpjn24ag0rk8cmtedjepupt1tuv</string>
	<key>API_KEY</key>
	<string>AIzaSyAIKn4UMeDrPNhH4th9B7D1WnNNpd1injI</string>
	<key>GCM_SENDER_ID</key>
	<string>570767167407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hankgethome.ios</string>
	<key>PROJECT_ID</key>
	<string>hankgethome</string>
	<key>STORAGE_BUCKET</key>
	<string>hankgethome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570767167407:ios:49365362dfb736e6</string>
	<key>DATABASE_URL</key>
	<string>https://hankgethome.firebaseio.com</string>
</dict>
</plist>